@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.container {
  width: 90vw;
  height: 4em;
  border-bottom: 0.5px solid $blue-bell;

  @include flexRow;
  justify-content: space-between;
  align-items: center;

  :global(.MuiButton-root) {
    text-transform: none;
  }
}

.activeLink {
  a {
    color: $winter-sky-rose;
  }
}
