.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1080px;

  margin-top: 15em;
  :global(.MuiGrid-root) {
    max-width: 60em;
  }

  :global(.MuiTab-wrapper) {
    text-transform: capitalize;
  }

  :global(.MuiPaper-elevation2) {
    padding: 0.8em;
    padding-bottom: 3em;
  }

  :global(.MuiGrid-root) {
    margin-top: 0.5em;
  }
}

.globalContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.filtersContainer {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
}

.noCountryFilterContainer {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
}

.rangePicker {
  margin-top: 1em;
}

@media only screen and (max-width: 300px) {
  .container {
    margin-top: 20em;
  }
}

@media only screen and (min-width: 300px) and (max-width: 370px) {
  .container {
    margin-top: 17em;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    margin-top: 3em;
  }
}
