.globalContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2em;
  margin-bottom: 2em;

  :global(.MuiPaper-root) {
    padding: 2em;
  }
}

.noCountryFilterContainer {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
}
