@import 'styles/mixins.scss';
@import 'styles/colors.scss';

.container {
  height: 31em;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: $venice-blue;

  color: $white;

  :global(.MuiGrid-container) {
    text-align: center;
  }

  :global(.MuiAppBar-root) {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;

    background-color: inherit;
  }

  .topRightSvg,
  .centerSvg {
    @include topRightZeroAbsolute;
  }

  .centerSvg {
    transform: scale(1.5);

    margin-top: 35vh;
    margin-right: 25vw;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    height: 37em;
  }
}
