@import 'shared/colors.scss';
@import 'shared/mixins.scss';

.xs,
.md,
.xl {
  @include flexCenterColumn;
  :global(.MuiCard-root) {
    width: 85vw;
    height: 24em;
  }
}

.xs {
  :global(.MuiCard-root) {
    transform: translateY(-10%);
  }
}

.md {
  :global(.MuiCard-root) {
    transform: translateY(-45%);
  }
}

.xl {
  :global(.MuiCard-root) {
    height: 4.5em;
    transform: translateY(-50%);
  }
}
