@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.container {
  @include flexCenterColumn;
  :global(.MuiCard-root) {
    width: 85vw;
    max-width: 1080px;
    height: 26em;
  }
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (min-width: 600px) {
  .container {
    :global(.MuiCard-root) {
      // position: absolute;
      // left: 0;
      transform: translateY(2.375em);
      height: 4.75em;
    }
  }
}
